<div class="ui hidden divider"></div>
<div class="ui segment">
    <h4 class="ui dividing header">{{ 'gravita.admin.product_variant.title'|trans }}</h4>
    {{ form_row(settings.form.isAvailable, {'label': 'gravita.admin.product_variant.form.isAvailable'|trans}) }}
</div>
